* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100vh;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER BAR */
.header {
    background-color: grey;
}

.header-content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.heading {
    font-size: 38px;
    margin: 0;
}

.nav-items-list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-item {
    padding: 5px; 
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.nav-item:hover {
    color: lightblue;
    cursor: pointer;
}

/* REGISTER / SIGN IN */
.bg-image {
    background-image: url('https://img.freepik.com/premium-photo/abstract-blur-luxury-hotel-lobby-background_1339-98449.jpg?w=2000');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* INDEX/HOME */
.card {
    width: 600px;
    padding: 10px;
    margin: 0 auto;
    background-color: ghostwhite;
}

.row {
    margin-bottom: 10px;
}

ul {
    width: 100%;
}

.cards-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 100%;
    margin: 0;
}

.img-wrapper {
    width: 100%;
    height: 150px;
}
.hotel-img {
    display: block;
    width: 100%;
    height: 100%;
}

.hotel-name {
    font-size: 20px;
}

/* HOTEL DETAILS PAGE */
.hotel-details-card {
    display: grid;
    grid-template-areas: 
    "hotel-name hotel-name"
    "hotel-img hotel-info"
    "hotel-img hotel-dates";
}

.hotel-name {
    grid-area: hotel-name;
    font-size: 28px;
}

.hotel-img {
    grid-area: hotel-img;
}

.hotel-info-wrapper {
    grid-area: hotel-info;
    padding-left: 10px;
}

.hotel-info {
    margin-bottom: 10px;
    font-size: 17px;
}

.hotel-features {
    margin-top: 15px;
}

.hotel-feature {
    display: inline-block;
    padding: 3px 9px;
    background-color: lightgrey;
    border-radius: 15px;
}

.hotel-dates {
    grid-area: hotel-dates;
    margin-top: 10px;
    padding-left: 10px;
    align-self: end;
}

.dates-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* BOOKING CONFIRMATION PAGE */

.confirm-info-wrapper {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 10px;
}

.user-info-wrapper, .booking-info-wrapper {
    width: 100%;
    padding: 15px;
    border: 1px solid black;
}

.user-info-wrapper h4, .booking-info-wrapper h4 {
    margin: 0 0 15px 0;
}

.confirm-booking-form {
    width: 100%;
    margin: 0 auto;
    text-align: right;
}

.confirm-booking-form form input {
    width: 150px;
    padding: 6px 0;
}

.error {
    color: red;
    margin: 2px 0;
}